body{
    background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    background-color: black;
    color: yellow;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.opi{
    text-align: right;
    position: relative;
    bottom: 100px;
}
a {
    padding: 5px;
    text-decoration: none;
    color: rgb(245, 244, 242);
    font-size: 15px;
  }
  form a:hover {
    color: black;
    background-color: yellow;
    text-decoration: none;
  }
img{
    position: relative;
    margin-left: 50%;
    margin-top: -50px;
    transform: translate(-50%, 0%);
    width: 45%;
    height: 25%;
}
p{
    text-align: justify;
    color: rgb(0, 0, 0);
}
footer{
    position: relative;
    margin-left: 520px;
}
